.card-note {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #80808076;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.title-card-note {
    color: #ddd;
}

.box-topic-card-note {
    width: 100%;
    display: flex;
    align-items: center; 
    gap: 6px; 
}

.title-box-topic {
    font-size: 16px; 
    color: #b1b1b1;
    font-weight: 500;
}

.btns-card {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.link-card {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: .5s ease-in-out;
    display: flex; 
    align-items: center;
}

.link-card:hover {
    color: #3fb950;
}

.btn-delete-note {
    padding: 10px;
    color: #fa5e55;
    background-color: #161616;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition:border .5s;

  }

  .btn-delete-note:hover {
    border-color: #b62324;
    transition: border .5s;

  }


@media (max-width: 425px) {
    .card-note {
        width: 100%;
    }
}
