.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index:99;
}

.section-main section {
    padding: 10px;
    position: relative;
  z-index:9;
}

.title-main {
  font-size: 70px;
  font-weight: bold;
}

.t-color {
  color: #3fb950;
  text-shadow: 0 0 100px #3fb950;
}

.links-main {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 16px;
}

.link-main {
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
  font-size: 16px;
  border: 1px solid transparent;
}

.start-link {
  border-color: #3fb950;
  color: #3fb950;
}

.start-link:hover {
  transition: 0.5s;
  color: #28f64a;
}

.link-main-notes {
  border-color: #ddd;

  color: #ddd;
}
.link-main-notes:hover {
  transition: 0.5s;
  border-color: #fff;
  color: #fff;
}


.box-gr {
position: absolute;
    z-index: 1;
    width: 100%;
    height:100%;
    opacity: 0.3;
    filter: blur(10px);
background: #39d353;
background: radial-gradient(circle farthest-side at bottom right, #39d353 0%, transparent 40%);
background: -webkit-radial-gradient(circle farthest-side at bottom right, #39d353 0%, transparent 40%);
background: -moz-radial-gradient(circle farthest-side at bottom right, #39d353 0%, transparent 40%);
  animation: b1 infinite 4s alternate-reverse;
}

@keyframes b1 {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.9;
  }
}



@media (max-width: 768px) {
  .section-main {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;
  }
  .title-main {
    font-size: 60px;
  }

}

@media (max-width: 425px) {
  .title-main {
    font-size: 40px;
  }
}
